# Sample CODEOWNERS File

# Default CODEOWNERS
*       @repo-githubadmins

# Top-level directory
/docs/  @documentation-githubteam
/tests/ @testing-githubteam

# Backend code
/backend/               @backend-githubteam @frontend-githubteam @code-review-githubteam

# Frontend code
/frontend/               @frontend-githubteam
/frontend1/              @backend-githubteam
/frontend2/              @frontend-githubteam
/frontend3/              @frontend-githubteam
/frontend4/              @frontend-githubteam

# Configuration files
/config/                @devops-githubteam

# Scripts
/scripts/               @automation-githubteam

